= simple_form_for Location.new do |f|
  = f.input :town_name
  = f.input :state
  = f.button :submit

%br

- if @location_forecasts.any?
  .locations
    %ol
      - @location_forecasts.all.each do |forecast|
        %li= forecast.info
