= simple_form_for @location do |f|
  = f.input :town_name
  = f.input :state
  = f.button :submit

%br

- if Location.all.any?
  .locations
    %ol
      - Location.all.each do |location|
        %li= location.info
